<!DOCTYPE html>
<html>
   <style>
        
    .titulo{
        height: 49px;
        line-height: 49px;
        padding: 0 0 0 20px;
        color: #2F3941;
        margin: 0;
        font-size: 15px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

    }
    .select2-selection__choice{
        border:0 !important;
        background:#e9ebed !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
        padding: 0 8px;
        line-height: 1.66667;
        font-size: 12px;
        border-radius: 2px;
        color: #49545c;
    }
    .select2-selection__rendered{
        height: 75px;
        overflow-y:auto !important;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    }
    .select2-results__option {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
        color: #49545c;
    }
    .buttonarea{
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        padding: 8px;
        width: 100%;
        margin-left: -8px;
        background: white;
     
        border-top: 1px solid #D8DCDE;
    }
    .body{
        box-sizing: border-box;
    }
    .button{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
        float: right;
        padding: 3px;
        background: #2F3941;
        font-size: 16px;
        line-height: 40px;
        border-radius: 4px;
        color: white;
        border-color: transparent;
        padding: 0 1.92857em;
    }
    </style>
     <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    

<head>
  <meta charset="utf-8">
  <!--   See Using Zendesk Garden:
    https://developer.zendesk.com/apps/docs/developer-guide/setup#using-zendesk-garden
    https://garden.zendesk.com/css-components/bedrock/
    https://garden.zendesk.com/css-components/utilities/typography/
   -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.8/handlebars.min.js"></script>
<script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
</head>
<body>
    
<div id="content"style='overflow-y:auto;padding-bottom:65px;'>

    
    <script id="requester-template" type="text/x-handlebars-template">
    <table style="width:100%;">
        <thead>
            <tr>
                <th class='titulo' style="width:10%;font-size: 20px;">Formulários</th>
                <th class='titulo' style="width:45%;font-size: 20px;">Campos somente leitura <img src="https://img.icons8.com/windows/32/000000/help.png" width="22px" height="22px" style="vertical-align: text-bottom;" title="Marque aqui os campos que você deseja que seja feita somente a leitura."></th>
                <th class='titulo' style="width:45%;font-size: 20px;">Campos ocultos</th>

            </tr>
        </thead>
        
        <tbody>
            {{#each dados}}
                <tr>
                    <td class='titulo' id='{{this.id}}'style="text-align: center;">{{this.name}}</td>
                    <td style="padding: 5px;text-align-last: center;">
                        <select class="js-example-basic-multiple" name="bloquear{{this.id}}" multiple="multiple"style="width:95%;">
                            {{#each this.ticket_field_ids}}
                            <option value="custom_field_{{this}}"><b>{{this}}</b></option>
                            {{/each}}
                        </select>
                    </td>
                    <td style="text-align-last: center;padding: 10px;">
                        <select class="js-example-basic-multiple" name="esconder{{this.id}}" multiple="multiple"style="width:95%;">
                            {{#each this.ticket_field_ids}}
                            <option value="custom_field_{{this}}"><b>{{this}}</b></option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
            {{/each}}

    </tbody>
    


    </table>
</div>
<div class='buttonarea'>
<button class='button' onclick=" configura()"><b>Salvar</b></button>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  



 <script>
$('.js-example-basic-multiple').select2();
  
    
    </script>
  
  <script type="text/javascript" src="nav.js"></script>


</body>
</html>
